/* ----------------- general stuff */
.home .hero {
  display: block;
  width: 100%;
  height: 500px;
  background: url('imgs/hero.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-bottom: -120px;
}
/* ----------- vars colors and fonts  */
/* ----------- daterangepicker */
.hotel-calendar {
  font-family: 'Heebo', sans-serif;
}
.hotel-calendar .panel {
  border-bottom: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0 -15px 15px rgba(0, 0, 0, 0.3);
}
.hotel-calendar h1 {
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
  margin: 30px 0 40px;
}
.hotel-calendar .dates-area {
  padding-left: 5%;
}
.hotel-calendar .dates-area h2 {
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
}
.hotel-calendar .dates-area h3 {
  color: #b5b5b5;
  font-size: 14px;
  margin: 10px 0;
}
.hotel-calendar #calendarContainer .date-picker-wrapper {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  border: 0;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .drp_top-bar {
  display: none;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .month-wrapper {
  border: 0;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .month-wrapper .caption {
  border-top: solid 1px #dadada;
  color: black;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .month-wrapper .week-name th {
  padding: 10px 0;
  border-bottom: solid 1px #dadada;
  font-size: 10px;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .month-wrapper .day {
  font-size: 10px;
  margin: 3px 0;
  padding: 10px 0 8px;
  color: black;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .month-wrapper .real-today {
  background-color: #ffb76a;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .month-wrapper .checked {
  background-color: #a0dc4b;
  color: white;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .month-wrapper .first-date-selected {
  background-color: #79bd1a !important;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.hotel-calendar #calendarContainer .date-picker-wrapper .month-wrapper .last-date-selected {
  background-color: #79bd1a !important;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.hotel-calendar #calendarContainer .time2 {
  display: none;
}
/* ----------- hotels */
body {
  font-family: 'Heebo', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}
.btn-default {
  background-image: none;
  border-radius: 20px;
  font-size: 12px;
  padding: 7px 20px 5px;
}
.orange-button {
  border: solid 1px #f98100;
  color: #f98100;
}
.orange-button:hover,
.orange-button:visited,
.orange-button:active,
.orange-button:focus,
.orange-button:active:focus {
  border: solid 1px #f98100;
  background-color: #f98100;
  color: white;
}
.green-button {
  border: solid 1px #79bd1a;
  color: #79bd1a;
  margin-left: 20px;
}
.green-button:hover,
.green-button:visited,
.green-button:active,
.green-button:focus,
.green-button:active:focus {
  border: solid 1px #79bd1a;
  background-color: #79bd1a;
  color: white;
}
.hotel-list ul {
  padding: 0;
  list-style-type: none;
}
.hotel-list h2 {
  color: #f98100;
  text-transform: uppercase;
  margin: 5px 0;
  letter-spacing: 2px;
  font-size: 13px;
  line-height: 18px;
}
.hotel-list img.img-responsive {
  margin: 0 0 0 -50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}
.hotel-list .col-sm-6 {
  margin: 0 0 0 -30px;
}
.hotel-list .hotel-description {
  padding: 10px 0;
}
.hotel-list .hotel-description p {
  color: #b5b5b5;
  font-size: 12px;
  margin-bottom: 20px;
}
.hotel-list .hotel-description .rate img {
  width: 12px;
  margin-right: 2px;
}
.hotel-list .hotel-description .price {
  border-left: solid 1px #dadada;
  padding: 70px 20px 40px 0px;
}
.hotel-list .hotel-description .price h4 {
  margin: 0px;
  color: #b5b5b5;
  font-size: 10px;
  text-align: right;
}
.hotel-list .hotel-description .price h3 {
  margin: 5px 0 0 0;
  font-size: 18px;
  color: #79bd1a;
  font-weight: bold;
  text-align: right;
  letter-spacing: 1px;
}
.hotel-list .hotel-prices {
  padding: 10px 0;
}
.hotel-list .hotel-prices h2 {
  color: #f98100;
  text-transform: uppercase;
  float: left;
}
.hotel-list .hotel-prices .back-to-button {
  float: right;
  margin: 3px 10px 0 0;
}
.hotel-list .hotel-prices .back-to-button div {
  float: right;
  font-size: 10px;
  color: #7b7b7b;
  margin: 3px 0 0 20px;
}
.hotel-list .hotel-prices .back-to-button img {
  width: 25px;
}
.hotel-list .hotel-prices .canvas-wrapper {
  margin: 50px 0 0;
  height: 120px;
}
