/* ----------------- general stuff */
.Heebo-family {
  font-family: 'Heebo', sans-serif;
}
.Montserrat-family {
  font-family: 'Montserrat', sans-serif;
}
.home .hero {
  display: block;
  width: 100%;
  height: 500px;
  background: url('imgs/hero.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-bottom: -200px;
}
/* ----------- daterangepicker */
#hotel-calendar {
  border: solid 5px fuchsia;
}
#hotel-calendar .date-picker-wrapper {
  background-color: honeydew;
}
#hotel-calendar .time2 {
  border: solid 1px red;
  display: none;
}
/* ----------- hotels */
.hotel-lists ul {
  padding: 0;
}
.hotel-lists img {
  width: 400px;
}
