<div ng-init="vm.init()">

  <header>
    <div class="row menu">
      <div class="col-sm-2">The Queen citys</div>
      <div class="col-sm-2">My Reservations</div>
      <div class="col-sm-2">Guide</div>
    </div>
    <div class="row logo">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <img src="imgs/crown.svg" alt="">
        <h2>wellcome to</h2>
        <h1>charlotte</h1>
        <h2>the queen city</h2>
      </div>
    </div>
  </header>


  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 hotel-calendar">

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="row">
              <div class="col-sm-12 text-center">
                <h1>Select the dates to stay in Charlotte</h1>
              </div>
              <div class="col-sm-5 col-sm-offset-1 dates-area">
                <input type="text" name="daterange" ng-hide="true" />
                <Br>
                <h2>Check-in</h2>
                <h3>{{vm.startDate}}</h3>
                <br>
                <Br>
                <h2>Check-out</h2>
                <h3>{{vm.endDate}}</h3>
                <Br>
                <Br>
                <button type="button" class="btn btn-default orange-button" ng-click="vm.searchHotels()" ng-disabled="vm.startDate === 'Choose a date'">Search Hotels</button>
              </div>
              <div class="col-sm-5">
                <div id="calendarContainer"></div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 text-center">
        <br>
        <h4>Best choices between {start date} and { end date }</h4>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <h1>filter</h1>
      </div>
      <div class="col-sm-9 hotel-list">
        <ul>
          <li ng-repeat="hotel in vm.hotels">

            <div class="panel panel-default">
              <div class="panel-body">

                <div class="row hotel-description" ng-hide="hotel.visibility">
                  <div class="col-sm-4">
                    <img ng-src="{{hotel.image}}" class="img-responsive img-rounded">
                  </div>
                  <div class="col-sm-6">
                    <div class="rate">
                      <img src="imgs/star-filled.svg" ng-repeat="i in vm.starsNumber(hotel.rate)">
                    </div>
                    <h2>{{hotel.name}}</h2>
                    <p>{{hotel.description}}</p>
                    <button type="button" class="btn btn-default orange-button">Book now</button>
                    <button type="button" class="btn btn-default green-button" ng-click="vm.priceHistoryVisibilityChange(hotel)">Price history</button>
                  </div>
                  <div class="col-sm-2 price">
                    <h4>Total</h4>
                    <h3>${{hotel.price}}</h3>
                  </div>
                </div>

                <div class="row hotel-prices" ng-show="hotel.visibility">
                  <div class="col-sm-4">
                    <img ng-src="{{hotel.image}}" class="img-responsive img-rounded">
                  </div>
                  <div class="col-sm-8">
                    <h2>Price History for 2017</h2>
                    <a href="" ng-click="vm.priceHistoryVisibilityChange(hotel)" class="back-to-button">
                      <img src="imgs/back-description.svg">
                      <div>Back to</div>
                    </a>
                    <div class="canvas-wrapper">
                      <canvas id="{{'bar_' + $index}}" class="chart chart-bar" chart-colors="vm.chartColors" chart-options="vm.chartOptions" chart-data="hotel.price_history.chartData"
                        chart-labels="hotel.price_history.chartLabels"></canvas>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </li>
        </ul>

      </div>
    </div>

  </div>

  <footer>
    <div class="row">
      <div class="col-xs-12 text-center">

        <div class="social">
          <img src="imgs/facebook.svg" alt="">
          <img src="imgs/twitter.svg" alt="">
          <img src="imgs/instagram.svg" alt="">
          <div class="clearfix"></div>
        </div>

        <h6>© 2004-2017 Visit Charlotte. All Rights Reserved. 500 S. College Street, Suite 300, Charlotte, NC 28202</h6>

      </div>
    </div>
  </footer>

</div>
